/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

body {
    font-family: sans-serif;
}

#green-top-background {
    height: 7rem;
    background-color: rgb(0, 150, 136);
}

#grey-background {
    height: 100vh;
    background-color: rgb(217, 219, 213);
}

.chat-container {
    height: 43rem;
    width: 80%;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.sidebar-chat {
    background-color: rgba(0, 0, 0, 0.242);
    width: 35%;
    height: 100%;
}

.my-chat-account {
    width: 100%;
    height: 7.5%;
    background-color: rgb(234, 234, 234);
    justify-content: space-between;
    border-right: 1px solid rgb(225, 225, 225);
}

.avatar-container {
    align-items: center;
    margin-left: 0.3rem;
}

.avatar {
    height: 3rem;
    border-radius: 50%;
}

.chat-settings-container {
    align-items: center;
    margin-right: 1rem;
}

.chat-settings-container i {
    padding: 0 0.5rem;
}

.notification-settings {
    background-color: rgb(142, 218, 252);
    height: 9%;
    align-items: center;
}

.background-bell-notification {
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 1rem;
}

.notification-settings div:nth-child(2) {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.notification-settings div:nth-child(2) a {
    color: rgb(80, 110, 124);
}

.search-bar-chat {
    background-color: rgb(250, 250, 250);
    height: 5%;
    position: relative;
}

.container-search-bar-chat {
    height: 1.8rem;
    width: 98.5%;
    background-color: rgb(255, 255, 255);
    border: 1px solid lightgray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-button-container {
    height: 100%;
    width: 15%;
    border-right: 1px solid lightgrey;
    align-items: center;
    justify-content: center;
}

.container-search-bar-chat input {
    width: 85%;
    border: solid transparent;
}

.contact-messages {
    background-color: rgb(255, 255, 255);
    height: 3.9rem;
    align-items: center;
    border: 1px solid lightgray;
}

.contact-messages div:nth-child(2) {
    font-size: 0.8rem;
    margin-left: 0.5rem;
}

.contact-messages div:nth-child(2) a {
    color: rgb(80, 110, 124);
}

.avatar-contact-container {
    align-items: center;
    margin-left: 1rem;
}

.avatar-contact {
    height: 3rem;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.contact-information {
    flex-direction: column;
    margin-bottom: 1rem;
}

.contact-information p {
    font-size: 1rem;
}

.last-message-time {
    font-size: 0.7rem;
    margin-left: 11.5rem;
    margin-bottom: 2rem;
    color: rgb(178, 178, 178);
}

























.chat {
    width: 65%;
    height: 100%;
    border-left: 1px solid rgb(225, 225, 225);
}

.contact-interface {
    width: 100%;
    height: 7.5%;
    background-color: rgb(234, 234, 234);
    justify-content: space-between;
}

.contact-avatar-container {
    align-items: center;
    margin-left: 0.3rem;
}

.contact-avatar {
    height: 3rem;
    border-radius: 50%;
}

.contact-information {
    margin-left: 1rem;
}

.contact-information span {
    color: rgb(80, 110, 124);
    font-size: 0.75rem;
}

.contact-settings-container {
    align-items: center;
    margin-right: 0.5rem;
}

.contact-settings-container i {
    padding: 0 0.5rem;
}

.messages {
    background-image: url(../img/mine.jpg);
    height: 92.5%;
    position: relative;
}

.chat-interface {
    flex-direction: column;
    padding-top: 3rem;
    align-items: end;

}

.sent-message {
    height: 2rem;
    width: 13rem;
    background-color: rgb(213, 249, 186);
    margin-bottom: 1rem;
    border-radius: 5px;
    margin-right: 5rem;
}

.received-message {
    height: 2rem;
    width: 13rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    border-radius: 5px;
    margin-right: 32rem;
}

.message-input {
    height: 8%;
    width: 100%;
    background-color: rgb(243, 238, 234);
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
}

.text-entry-chat {
    height: 2.5rem;
    width: 80%;
    background-color: rgb(255, 255, 255);
    border: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message-input i:first-child {
    margin-left: 4.25%;
}

.text-entry-chat input {
    width: 100%;
    border: solid transparent;
}

.message-input i:last-child {
    margin-right: 4.25%;
}